.top_container {
  min-height: 400px;
  padding: 6rem;
  display: flex;
  justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
      align-items: center;
  background-color: #a8ffa8;
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px calc(100% - 5vw));
  color: #005000;
}

.top_container * {
  filter: drop-shadow(5px 5px 0px #0050004d);
}

.introduction {
  font-size: 3rem;
  justify-content: center;
}

.top_bottom {
  align-self: end;
}